.TodoList{
    border: 1px solid black;
    border-radius: 24px;
    margin: 10px;
    /* padding:0 10px 0 10px; */
    width: 430px;
    height: 60%;
    color: rgb(205, 195, 6);
    background-color: rgb(59, 71, 78);

}
.TodoList input{
    border: 1px solid black;
    height: 40px;
    width: 300px;
    border-radius: 24px;
    margin-top: 13px;
    background-color: rgb(32, 33, 33);
    font-size: 20px;
    padding-left: 30px;
    
}
.todo span{
    font-size: 20px; 
    font-weight: bold;
}